#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.listItemsContainer {
  height: 500px;
  overflow-y: auto;

  .listItem {
    animation: fadeIn 5s;

    .listItemText {
      text-align: start;
    }
  }

  .removed-item-animation {
    animation: removing 0.6s cubic-bezier(0.55, -0.04, 0.91, 0.94) forwards;
  }

  @keyframes removing {
    0% {
      opacity: 1;
      transform: scale(1);
    }

    100% {
      opacity: 0;
      transform: scale(0);
    }
  }

  .listMessage {
    font-size: 20px;
    line-height: 100px;
    text-align: center;

    .ant-list-item-meta {
      text-align: start;
    }
  }

  @keyframes fadeIn {
    0% {
      transition: all 0.4s ease-out;
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
